/* === CATEGORIES === */
#categories {
    .bg-white {
        @include laptop {
            background-color: #ededed!important;
            border-radius: 4px;
        }
    }
    .shadow-vc {
        box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.085);
        @include laptop {
            box-shadow: none;
        }
    }
}

/* === TITLE & DESCRIPTION === */
#titleAndDescription {
    .fs-6 {
        @include laptop {
            font-size: 1.8rem!important;
        }
    }
    .line-clamp {
        @include textTruncate;
    }
}

/* === CHOOSE VIEWS === */
#products {
    #toggleViews {
        height: 1.5rem;
        top: -45px;
    }
    .prodListTwo {
        flex: 0 0 auto;
        width: 50%;
        @include tablet {
            width: 33.33333333%;
        }
        @include laptop {
            width: 25%;
        }
    }
    .prodListOne {
        flex: 0 0 95%;
        margin: auto;
        @include tablet {
            width: 33.33333333%;
        }
        @include laptop {
            width: 25%;
        }    
    }
}




#prodList {
    /* === ASPECT RATIO === */
    .aspect {
        height: 0;
        padding-top: 100%; /* default 1:1 */
        > :first-child {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        &.ratio-80-107 {
            padding-top: 133.75%;
        }
    }

    /* === SWIPER PILLS === */
    .swiperColorPills {  
        max-width: 85%;
        margin: 0;
        .swiper-wrapper { 
            .colorpicker {
                img {
                    border-radius: 50%;
                    max-width: 2rem;
                }   
                &.active {
                    img {
                        border: 2px solid #000;
                        padding: 2px;
                    }
                }
            }   
        }
    }  
}

/* === FILTERS === */
#filters {
    label { 
        &.pill-rounded {
            width: 2.75rem;
            height: 2.75rem;
        }    
        &.active {
            background-color: #000;
            color: #fff;
        }
    }
    #colorFilter {
        .pill-rounded {
            width: 2.75rem;
            height: 2.75rem;
            @include laptop {
                width: 2.6rem;
                height: 2.6rem;
            }
            &.active {
                border: solid 3px $textColor!important;
            }
            label {
                width: 2.25rem;
                height: 2.25rem;
                @include laptop {
                    width: 2rem;
                    height: 2rem;
                } 
                &[title="BLANCO"] {
                    border: solid 2px $textColor;
                }            
            }
        }
    }
    .noui-slider-round {
        &.noUi-horizontal {
            height: 12px;
        }
        .noUi-connect {
            background-color: $vencaColor;
        }
        .noUi-handle {
            top: -9px;
            width: 28px;
            border-radius: 50%;
            &:after {
                content: "€";
                left: 32px;
                top: 32px;
                @include laptop {
                    top: 30px;
                }
                background: none;
                font-weight: bold;
            }
            .noUi-tooltip {
                bottom: -30px;
                background: none;
                border: none;
                font-size: .85rem;
                font-weight: bold;
            }
        }
    }
    #filters-dk {
        .dropdown-menu {
            width: 13.125rem;
            &.filter-price-width {
                min-width: 16.125rem;
                min-height: 10rem;
            }
            ul, .max-filters-height {
                max-height: $max-filters-height;
                overflow-y: auto;
                &::-webkit-scrollbar {
                    -webkit-appearance: none !important;
                }
                &::-webkit-scrollbar:vertical {
                    width: 12px !important
                }
                &::-webkit-scrollbar:horizontal {
                    height: 12px !important
                }
                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0,0,0,.2) !important;
                    border-radius: 10px !important;
                    border: 4px solid #fff !important;
                }
                &::-webkit-scrollbar-track {
                    border-radius: 10px !important;
                    background-color: #fff !important
                }
            }
        }
    }
}

// .max-filters-height {
//     max-height: $max-filters-height;
//     overflow-y: auto
// }






