<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" class="fs-085-rem text-decoration-none">Inicio</a></li>
    <li class="breadcrumb-item"><a href="#" class="fs-085-rem text-decoration-none">Mujer</a></li>
    <li class="breadcrumb-item fs-085-rem" aria-current="page">Camisetas</li>
</ol>