<div class="col-12 h-60 shadow-vc">
    <article class="swiper swpCategory py-3 py-lg-2 ps-lg-4 pe-0 bg-white bg-grey-light">
        <div class="swiper-wrapper">
            <a class="swiper-slide w-auto d-inline-block button-vc-light fs-075-rem text-decoration-none text-center" href="">Camisetas básicas mujer</a>
            <a class="swiper-slide w-auto d-inline-block button-vc-light fs-075-rem text-decoration-none text-center" href="">Camisetas mujer</a>
            <a class="swiper-slide w-auto d-inline-block button-vc-light fs-075-rem text-decoration-none text-center" href="">Camisetas deporte mujer</a>
            <a class="swiper-slide w-auto d-inline-block button-vc-light fs-075-rem text-decoration-none text-center" href="">Camisetas y tops con tirantes cortos mujer</a>
            <a class="swiper-slide w-auto d-inline-block button-vc-light fs-075-rem text-decoration-none text-center" href="">Camisetas y tops manga larga mujer</a>
            <a class="swiper-slide w-auto d-inline-block button-vc-light fs-075-rem text-decoration-none text-center" href="">Camisetas manga 3/4 mujer</a>
            <a class="swiper-slide w-auto d-inline-block button-vc-light fs-075-rem text-decoration-none text-center" href="">Camisetas en tallas grandes para mujer</a>
        </div>                 
    </article>
</div>

