<section id="toggleViews" class="position-absolute end-0 d-block d-md-none">                
    <div id="expandBox">
        <svg class="position-absolute end-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24 2.4C24 1.07452 22.9255 0 21.6 0H2.4C1.07452 0 0 1.07452 0 2.4V21.6C0 22.9255 1.07452 24 2.4 24H21.6C22.9255 24 24 22.9255 24 21.6V2.4ZM2.4 1.2H21.6L21.7399 1.20807C22.3368 1.27739 22.8 1.7846 22.8 2.4V21.6L22.7919 21.7399C22.7226 22.3368 22.2154 22.8 21.6 22.8H2.4L2.26005 22.7919C1.66325 22.7226 1.2 22.2154 1.2 21.6V2.4L1.20807 2.26005C1.27739 1.66325 1.7846 1.2 2.4 1.2ZM3.6 14.8C3.89455 14.8 4.13953 15.0122 4.19033 15.2921L4.2 15.4V20H8.4C8.73137 20 9 20.2686 9 20.6C9 20.8946 8.78775 21.1395 8.50785 21.1903L8.4 21.2H3.6C3.30545 21.2 3.06047 20.9878 3.00967 20.7079C3.00332 20.6729 3 20.6368 3 20.6V15.4C3 15.0686 3.26863 14.8 3.6 14.8ZM20.4 9.4C20.1054 9.4 19.8605 9.18775 19.8097 8.90785L19.8 8.8V4.2H15.6C15.2686 4.2 15 3.93137 15 3.6C15 3.30545 15.2122 3.06047 15.4921 3.00967L15.6 3H20.4C20.6946 3 20.9395 3.21225 20.9903 3.49215C20.9967 3.52714 21 3.56318 21 3.6V8.8C21 9.13137 20.7314 9.4 20.4 9.4Z" fill="#3C3C3B"/>
        </svg>    
    </div>                                  
    <div id="collapseBox" class="d-none">
        <svg class="position-absolute end-0" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 8.39998C3 8.05633 3.21225 7.77052 3.49215 7.71125L3.6 7.69998L8.8 7.69998C9.13137 7.69998 9.4 8.01338 9.4 8.39998C9.4 8.74362 9.18775 9.02943 8.90785 9.0887L8.8 9.09998L3.6 9.09998C3.26863 9.09998 3 8.78657 3 8.39998Z" fill="#3C3C3B"/>
            <path d="M21 8.39998C21 8.05633 20.7877 7.77052 20.5079 7.71125L20.4 7.69998L15.2 7.69998C14.8686 7.69998 14.6 8.01338 14.6 8.39998C14.6 8.74362 14.8122 9.02943 15.0921 9.0887L15.2 9.09998L20.4 9.09998C20.7314 9.09998 21 8.78657 21 8.39998Z" fill="#3C3C3B"/>
            <path d="M8 3.69998C8 3.3686 8.3134 3.09998 8.7 3.09998C9.04364 3.09998 9.32945 3.31223 9.38872 3.59212L9.4 3.69998L9.4 8.49998C9.4 8.83135 9.0866 9.09998 8.7 9.09998C8.35636 9.09998 8.07055 8.88773 8.01128 8.60783L8 8.49998L8 3.69998Z" fill="#3C3C3B"/>
            <path d="M16 3.69998C16 3.3686 15.6866 3.09998 15.3 3.09998C14.9564 3.09998 14.6705 3.31223 14.6113 3.59212L14.6 3.69998L14.6 8.49998C14.6 8.83135 14.9134 9.09998 15.3 9.09998C15.6436 9.09998 15.9295 8.88773 15.9887 8.60783L16 8.49998L16 3.69998Z" fill="#3C3C3B"/>
            <path d="M21 15.8C21 16.1436 20.7877 16.4294 20.5079 16.4887L20.4 16.5L15.2 16.5C14.8686 16.5 14.6 16.1866 14.6 15.8C14.6 15.4563 14.8122 15.1705 15.0921 15.1113L15.2 15.1L20.4 15.1C20.7314 15.1 21 15.4134 21 15.8Z" fill="#3C3C3B"/>
            <path d="M3 15.8C3 16.1436 3.21225 16.4294 3.49215 16.4887L3.6 16.5L8.8 16.5C9.13137 16.5 9.4 16.1866 9.4 15.8C9.4 15.4563 9.18775 15.1705 8.90785 15.1113L8.8 15.1L3.6 15.1C3.26863 15.1 3 15.4134 3 15.8Z" fill="#3C3C3B"/>
            <path d="M16 15.7L16 20.5C16 20.8313 15.6866 21.1 15.3 21.1C14.9564 21.1 14.6705 20.8877 14.6113 20.6078L14.6 20.5L14.6 15.7C14.6 15.3686 14.9134 15.1 15.3 15.1C15.6436 15.1 15.9295 15.3122 15.9887 15.5921L16 15.7Z" fill="#3C3C3B"/>
            <path d="M8 15.7L8 20.5C8 20.8313 8.3134 21.1 8.7 21.1C9.04364 21.1 9.32945 20.8877 9.38872 20.6078L9.4 20.5L9.4 15.7C9.4 15.3686 9.0866 15.1 8.7 15.1C8.35636 15.1 8.07055 15.3122 8.01128 15.5921L8 15.7Z" fill="#3C3C3B"/>
        </svg>                                
    </div>                  
</section>