<div class="col-12">   
    <a href="bgStrPromo" class="d-block">
        <picture>
            <source media="(min-width: 1200px)" srcset="./static/img/promoDK.png" width="1140" height="50">
            <source media="(min-width: 992px)"  srcset="./static/img/promoDK.png" width="940"  height="40">
            <source media="(min-width: 768px)"  srcset="./static/img/promoDK.png" width="720"  height="32">
            <img src="./static/img/StrPromo.webp" width="420" height="50" class="w-100 img-fluid" loading="lazy" title="" alt="">
        </picture>
    </a>
</div>

