<!-- ONE -->
<div class="prodListTwo col-md-4 col-lg-3 productCounter px-1 px-md-2 mb-4">
    <!-- Image & Extras-->
    <a href="/" class="d-block mb-2">
        <div id="prodSlider_0" class="product-img position-relative">
            <!-- IMAGE -->
            <picture>
                <source srcset="https://statics.venca.com/web/img/products/015565_107090_PV_DF_FR_20210323154325_1_xm.webp">
                <img src="https://statics.venca.com/web/img/products/015565_107090_PV_DF_FR_20210323154325_1_xm.jpg" width="320" height="428" class="w-100 img-fluid" loading="lazy" alt="">
            </picture>
            <!-- WISHLIST ICON -->
            <div id="addToWishListS_0">
                <div class="notWished position-absolute top-0 end-0 m-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312ZM19.8818 13.4101L12.1455 21.0343C12.0636 21.1162 11.9409 21.1162 11.8591 21.0343L4.10455 13.3828C2.80909 12.1644 1.45455 10.0912 1.45455 8.16812C1.45455 4.82653 3.38182 2.90796 6.74091 2.90796C8.79091 2.90796 10.6227 4.59012 12 5.97222C12.7182 5.25389 14.8955 2.90796 17.2591 2.90796C20.6182 2.90796 22.5455 4.82653 22.5455 8.16812C22.5455 10.0958 21.2636 12.0416 19.8818 13.4101Z" fill="#3C3C3B"/>
                    </svg>
                </div>
                <div class="wished position-absolute top-0 end-0 m-2 d-none">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312Z" fill="#3c3c3b"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312ZM19.8818 13.4101L12.1455 21.0343C12.0636 21.1162 11.9409 21.1162 11.8591 21.0343L4.10455 13.3828C2.80909 12.1644 1.45455 10.0912 1.45455 8.16812C1.45455 4.82653 3.38182 2.90796 6.74091 2.90796C8.79091 2.90796 10.6227 4.59012 12 5.97222C12.7182 5.25389 14.8955 2.90796 17.2591 2.90796C20.6182 2.90796 22.5455 4.82653 22.5455 8.16812C22.5455 10.0958 21.2636 12.0416 19.8818 13.4101Z" fill="#3C3C3B"/>
                    </svg>
                </div>
            </div>
            <!-- LABEL IMAGE -->
            <div class="position-absolute top-0 m-2">
                <picture>
                    <source media="(min-width: 992px)"  srcset="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" width="60"  height="60">
                    <source media="(min-width: 768px)"  srcset="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" width="50"  height="50">
                    <img src="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" class="img-fluid" width="40" height="40">
                </picture>
            </div>
            <!-- TAGS BOX-->
            <div class="tagsBox position-absolute bottom-0 d-flex align-items-center text-uppercase pb-1 mb-2">
                <div class="soldOutTag bg-white px-1 d-none">
                    <span class="fs-075-rem fw-bold text-danger">Agotado</span>
                </div>
                <div class="discountTag bg-danger px-1">
                    <span class="fs-075-rem fw-bold text-white">-20%</span>
                </div>
                <div class="newTag bg-white px-1 d-none">
                    <span class="fs-075-rem fw-bold">New</span>
                </div>
                <div class="superPriceTag bg-white px-1 d-none">
                    <span class="fs-075-rem fw-bold">Superprecio</span>
                </div>
            </div>
        </div>                               
    </a>
    <!-- Color Pills -->
    <!-- <div class="swiper swiperColorPills pb-1 mb-2">
        <div class="swiper-wrapper px-0 m-0">
            <div class="swiper-slide colorpicker active">
                <img src="./static/pills/black.webp"  alt="" class="w-100 img-fluid">
            </div>
            <div class="swiper-slide colorpicker">
                <img src="./static/pills/beige.webp"  alt="" class="w-100 img-fluid">
            </div>
            <div class="swiper-slide colorpicker">
                <img src="./static/pills/green.webp"  alt="" class="w-100 img-fluid">
            </div>
        </div>                             
    </div> -->
    <!-- Product Info -->
    <div class="product-info">
        <p class="fs-075-rem opacity-75 mb-0">Venca</p>
        <p class="fs-085-rem text-truncate mb-1">Camiseta de escote V con bajo redondeado</p>
        <div class="price d-flex">
            <span class="fs-085-rem fw-bold text-danger">7,99€</span>
        </div>
    </div>
</div>

<!-- TWO -->
<div class="prodListTwo col-md-4 col-lg-3 productCounter px-1 px-md-2 mb-4">                   
    <!-- Image & Extras-->
    <a href="" class="d-block mb-2">
        <div id="prodSlider_1" class="product-img position-relative">
            <picture>
                <source srcset="https://statics.venca.com/web/img/products/112004_011746_OI_DF_FR_20201002155118_1_xm.jpg">
                <img src="https://statics.venca.com/web/img/products/112004_011746_OI_DF_FR_20201002155118_1_xm.webp" width="320" height="428" class="w-100 img-fluid" loading="lazy" title="" alt="">
            </picture>
            <!-- WISHLIST ICON -->
            <div id="addToWishListS_1">
                <div class="notWished position-absolute top-0 end-0 m-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312ZM19.8818 13.4101L12.1455 21.0343C12.0636 21.1162 11.9409 21.1162 11.8591 21.0343L4.10455 13.3828C2.80909 12.1644 1.45455 10.0912 1.45455 8.16812C1.45455 4.82653 3.38182 2.90796 6.74091 2.90796C8.79091 2.90796 10.6227 4.59012 12 5.97222C12.7182 5.25389 14.8955 2.90796 17.2591 2.90796C20.6182 2.90796 22.5455 4.82653 22.5455 8.16812C22.5455 10.0958 21.2636 12.0416 19.8818 13.4101Z" fill="#3C3C3B"/>
                    </svg>
                </div>
                <div class="wished position-absolute top-0 end-0 m-2 d-none">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312Z" fill="#3c3c3b"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312ZM19.8818 13.4101L12.1455 21.0343C12.0636 21.1162 11.9409 21.1162 11.8591 21.0343L4.10455 13.3828C2.80909 12.1644 1.45455 10.0912 1.45455 8.16812C1.45455 4.82653 3.38182 2.90796 6.74091 2.90796C8.79091 2.90796 10.6227 4.59012 12 5.97222C12.7182 5.25389 14.8955 2.90796 17.2591 2.90796C20.6182 2.90796 22.5455 4.82653 22.5455 8.16812C22.5455 10.0958 21.2636 12.0416 19.8818 13.4101Z" fill="#3C3C3B"/>
                    </svg>
                </div>
            </div>
            <!-- LABEL IMAGE -->
            <div class="position-absolute top-0 m-2 d-none">
                <picture>
                    <source media="(min-width: 992px)"  srcset="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" width="60"  height="60">
                    <source media="(min-width: 768px)"  srcset="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" width="50"  height="50">
                    <img src="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" class="img-fluid" width="40" height="40">
                </picture>
            </div>
            <!-- TAGS BOX-->
            <div class="tagsBox position-absolute bottom-0 d-flex align-items-center text-uppercase pb-1 mb-2">
                <div class="soldOutTag bg-white px-1 d-none">
                    <span class="fs-075-rem fw-bold text-danger">Agotado</span>
                </div>
                <div class="discountTag bg-danger px-1">
                    <span class="fs-075-rem fw-bold text-white">25%</span>
                </div>
                <div class="newTag bg-white px-1 d-none">
                    <span class="fs-075-rem fw-bold">New</span>
                </div>
                <div class="superPriceTag bg-white px-1 d-none">
                    <precio class="fs-075-rem fw-bold">Superprecio</span>
                </div>
            </div>
        </div>
    </a>
    <!-- Color Pills -->
    <div class="position-relative color-pills-container">
        <div class="swiper swiperColorPills pb-1 my-2">
            <div class="swiper-wrapper px-0 m-0">
                <div class="swiper-slide colorpicker active">
                    <picture>
                        <img src="./static/img/white.webp"  alt="" class="w-100 img-fluid">
                    </picture>                
                </div>
                <div class="swiper-slide colorpicker">
                    <picture>
                        <img src="./static/img/black.webp"  alt="" class="w-100 img-fluid">
                    </picture>                  
                </div>
                <div class="swiper-slide colorpicker">
                    <picture>
                        <img src="./static/img/green.webp"  alt="" class="w-100 img-fluid">
                    </picture>                  
                </div>
                <div class="swiper-slide colorpicker">
                    <picture>
                        <img src="./static/img/red.webp"  alt="" class="w-100 img-fluid">
                    </picture>           
                </div>
                <div class="swiper-slide colorpicker">
                    <picture>
                        <img src="./static/img/blue.webp"  alt="" class="w-100 img-fluid">
                    </picture>               
                </div>
                <div class="swiper-slide colorpicker">
                    <picture>
                        <img src="./static/img/beige.webp"  alt="" class="w-100 img-fluid">
                    </picture>                
                </div>
                <div class="swiper-slide colorpicker">
                    <picture>
                        <img src="./static/img/sky.webp"  alt="" class="w-100 img-fluid">
                    </picture>                
                </div>
            </div>  
        </div>
        <div class="swiper-button-next end-0 justify-content-end fs-6 font-weight-bold opacity-100"></div>
    </div>                       
    <!-- Product Info -->
    <div class="product-info">
        <p class="fs-075-rem opacity-75 mb-0">Venca</p>
        <p class="fs-085-rem text-truncate mb-1">Camiseta lisa finos tirantes espagueti</p>
        <div class="price d-flex">
            <span class="fs-085-rem fw-bold text-danger">2,99€</span>
            <span class="fs-075-rem text-decoration-line-through ps-2">3,99€</span>
        </div>
    </div>
</div>

<!-- THREE -->
<div class="prodListTwo col-md-4 col-lg-3 productCounter px-1 px-md-2 mb-4">
    <!-- Image & Extras-->
    <a href="" class="d-block mb-2">
        <div id="prodSlider_2" class="product-img position-relative">
            <picture>
                <source srcset="https://statics.venca.com/web/img/products/112193_007203_OI_DF_FR_20210324120920_1_xm.jpg">
                <img src="https://statics.venca.com/web/img/products/112193_007203_OI_DF_FR_20210324120920_1_xm.webp" width="320" height="428" class="w-100 img-fluid" loading="lazy" title="" alt="">
            </picture>
            <!-- WISHLIST ICON -->
            <div id="addToWishListS_2">
                <div class="notWished position-absolute top-0 end-0 m-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312ZM19.8818 13.4101L12.1455 21.0343C12.0636 21.1162 11.9409 21.1162 11.8591 21.0343L4.10455 13.3828C2.80909 12.1644 1.45455 10.0912 1.45455 8.16812C1.45455 4.82653 3.38182 2.90796 6.74091 2.90796C8.79091 2.90796 10.6227 4.59012 12 5.97222C12.7182 5.25389 14.8955 2.90796 17.2591 2.90796C20.6182 2.90796 22.5455 4.82653 22.5455 8.16812C22.5455 10.0958 21.2636 12.0416 19.8818 13.4101Z" fill="#3C3C3B"/>
                    </svg>
                </div>
                <div class="wished position-absolute top-0 end-0 m-2 d-none">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312Z" fill="#3c3c3b"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312ZM19.8818 13.4101L12.1455 21.0343C12.0636 21.1162 11.9409 21.1162 11.8591 21.0343L4.10455 13.3828C2.80909 12.1644 1.45455 10.0912 1.45455 8.16812C1.45455 4.82653 3.38182 2.90796 6.74091 2.90796C8.79091 2.90796 10.6227 4.59012 12 5.97222C12.7182 5.25389 14.8955 2.90796 17.2591 2.90796C20.6182 2.90796 22.5455 4.82653 22.5455 8.16812C22.5455 10.0958 21.2636 12.0416 19.8818 13.4101Z" fill="#3C3C3B"/>
                    </svg>
                </div>
            </div>
            <!-- LABEL IMAGE -->
            <div class="position-absolute top-0 m-2 d-none">
                <picture>
                    <source media="(min-width: 992px)"  srcset="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" width="60"  height="60">
                    <source media="(min-width: 768px)"  srcset="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" width="50"  height="50">
                    <img src="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" class="img-fluid" width="40" height="40">
                </picture>
            </div>
            <!-- TAGS BOX-->
            <div class="tagsBox position-absolute bottom-0 d-flex align-items-center text-uppercase pb-1 mb-2">
                <div class="soldOutTag bg-white px-1 d-none">
                    <span class="fs-075-rem fw-bold text-danger">Agotado</span>
                </div>
                <div class="discountTag bg-danger px-1">
                    <span class="fs-075-rem fw-bold text-white">14%</span>
                </div>
                <div class="newTag bg-white px-1 d-none">
                    <span class="fs-075-rem fw-bold">New</span>
                </div>
                <div class="superPriceTag bg-white px-1 d-none">
                    <precio class="fs-075-rem fw-bold">Superprecio</span>
                </div>
            </div>
        </div>
    </a>
    <!-- Color Pills -->
    <!-- <div class="row swiper swiperColorPills pb-1 mb-2">
        <div class="col-12 swiper-wrapper px-0">
            <div class="swiper-slide colorpicker active">
                <img src="./static/pills/black.webp"  alt="" class="w-100 img-fluid">
            </div>
            <div class="swiper-slide colorpicker">
                <img src="./static/pills/blue.webp"  alt="" class="w-100 img-fluid">
            </div>
            <div class="swiper-slide colorpicker">
                <img src="./static/pills/green.webp"  alt="" class="w-100 img-fluid">
            </div>
            <div class="swiper-slide colorpicker">
                <img src="./static/pills/red.webp"  alt="" class="w-100 img-fluid">
            </div>
        </div>
    </div> -->
    <!-- Product Info -->
    <div class="product-info">
        <p class="fs-075-rem opacity-75 mb-0">Venca</p>
        <p class="fs-085-rem text-truncate mb-1">Camiseta sin mangas de escote barco</p>
        <div class="price d-flex">
            <span class="fs-085-rem fw-bold text-danger">5,99€</span>
            <span class="fs-075-rem text-decoration-line-through ps-2">6,99€</span>
        </div>
    </div>
</div>

<!-- FOUR -->
<div class="prodListTwo col-md-4 col-lg-3 productCounter px-1 px-md-2 mb-4">
    <!-- Image & Extras-->
    <a href="" class="d-block mb-2">
        <div id="prodSlider_3" class="product-img position-relative">
            <picture>
                <source srcset="https://statics.venca.com/web/img/products/069155_313035_PV_DF_FR_20230223093955_1_xm.jpg">
                <img src="https://statics.venca.com/web/img/products/069155_313035_PV_DF_FR_20230223093955_1_xm.webp" width="320" height="428" class="w-100 img-fluid" loading="lazy" title="" alt="">
            </picture>
            <!-- WISHLIST ICON -->
            <div id="addToWishListS_3">
                <div class="notWished position-absolute top-0 end-0 m-2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312Z" fill="white"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312ZM19.8818 13.4101L12.1455 21.0343C12.0636 21.1162 11.9409 21.1162 11.8591 21.0343L4.10455 13.3828C2.80909 12.1644 1.45455 10.0912 1.45455 8.16812C1.45455 4.82653 3.38182 2.90796 6.74091 2.90796C8.79091 2.90796 10.6227 4.59012 12 5.97222C12.7182 5.25389 14.8955 2.90796 17.2591 2.90796C20.6182 2.90796 22.5455 4.82653 22.5455 8.16812C22.5455 10.0958 21.2636 12.0416 19.8818 13.4101Z" fill="#3C3C3B"/>
                    </svg>
                </div>
                <div class="wished position-absolute top-0 end-0 m-2 d-none">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312Z" fill="#3c3c3b"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.2591 1.45312C15.3136 1.45312 13.4455 2.62154 12 3.93999C10.5545 2.62609 8.68636 1.45312 6.74091 1.45312C2.58182 1.45312 0 4.02637 0 8.16811C0 11.4961 2.83636 14.1875 3.09545 14.4285L10.8364 22.0755C11.4773 22.7074 12.5227 22.712 13.1636 22.0755L20.9 14.4467L20.9227 14.4239C21.6455 13.7192 24 11.1915 24 8.16811C24 4.02637 21.4182 1.45312 17.2591 1.45312ZM19.8818 13.4101L12.1455 21.0343C12.0636 21.1162 11.9409 21.1162 11.8591 21.0343L4.10455 13.3828C2.80909 12.1644 1.45455 10.0912 1.45455 8.16812C1.45455 4.82653 3.38182 2.90796 6.74091 2.90796C8.79091 2.90796 10.6227 4.59012 12 5.97222C12.7182 5.25389 14.8955 2.90796 17.2591 2.90796C20.6182 2.90796 22.5455 4.82653 22.5455 8.16812C22.5455 10.0958 21.2636 12.0416 19.8818 13.4101Z" fill="#3C3C3B"/>
                    </svg>
                </div>
            </div>
            <!-- LABEL IMAGE -->
            <div class="position-absolute top-0 m-2 d-none">
                <picture>
                    <source media="(min-width: 992px)"  srcset="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" width="60"  height="60">
                    <source media="(min-width: 768px)"  srcset="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" width="50"  height="50">
                    <img src="https://statics.venca.com/web/img/labels/PinkPrice_Label.png" class="img-fluid" width="40" height="40">
                </picture>
            </div>
            <!-- TAGS BOX-->
            <div class="tagsBox position-absolute bottom-0 d-flex align-items-center text-uppercase pb-1 mb-2">
                <div class="soldOutTag bg-white px-1 d-none">
                    <span class="fs-075-rem fw-bold text-danger">Agotado</span>
                </div>
                <div class="discountTag bg-danger px-1">
                    <span class="fs-075-rem fw-bold text-white">25%</span>
                </div>
                <div class="newTag bg-white px-1 d-none">
                    <span class="fs-075-rem fw-bold">New</span>
                </div>
                <div class="superPriceTag bg-white px-1">
                    <precio class="fs-075-rem fw-bold">Superprecio</span>
                </div>
            </div>
        </div>
    </a>
    <!-- Color Pills -->
    <!-- <div class="row swiper swiperColorPills pb-1 mb-2">
        <div class="col-12 swiper-wrapper px-0">
            <div class="swiper-slide colorpicker active">
                <img src="./static/pills/white.webp"  alt="" class="w-100 img-fluid">
            </div>
            <div class="swiper-slide colorpicker">
                <img src="./static/pills/sky.webp"  alt="" class="w-100 img-fluid">
            </div>                                 
        </div>
    </div> -->
    <!-- Product Info -->
    <div class="product-info">
        <p class="fs-075-rem opacity-75 mb-0">Venca</p>
        <p class="fs-085-rem text-truncate mb-1">Camiseta sin mangas con entredós y guipur</p>
        <div class="price d-flex">
            <span class="fs-085-rem fw-bold text-danger">5,99€</span>
            <span class="fs-075-rem text-decoration-line-through ps-2">7,99€</span>
        </div>
    </div>
</div>