<div class="row">
    <div class="col-12 col-lg-11 d-flex justify-content-between border-bottom align-items-center p-2 mb-4 mb-lg-2 mx-auto">
        <input autocomplete="off" class="w-75 filterInput border-0" id="input-3" spellcheck="false" type="text" placeholder="Buscar por tipo" name="q" autofocus>
        <svg width="18" height="18" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.8359 22.575L17.7891 16.5281C17.6813 16.4203 17.5406 16.3641 17.3906 16.3641H16.9078C18.5156 14.625 19.5 12.3047 19.5 9.75C19.5 4.36406 15.1359 0 9.75 0C4.36406 0 0 4.36406 0 9.75C0 15.1359 4.36406 19.5 9.75 19.5C12.3047 19.5 14.625 18.5156 16.3641 16.9125V17.3906C16.3641 17.5406 16.425 17.6813 16.5281 17.7891L22.575 23.8359C22.7953 24.0563 23.1516 24.0563 23.3719 23.8359L23.8359 23.3719C24.0563 23.1516 24.0563 22.7953 23.8359 22.575ZM9.75 18C5.18906 18 1.5 14.3109 1.5 9.75C1.5 5.18906 5.18906 1.5 9.75 1.5C14.3109 1.5 18 5.18906 18 9.75C18 14.3109 14.3109 18 9.75 18Z" fill="#333333"></path>
        </svg>                           
    </div>

    <ul class="col-12 ps-2 mb-1">
        <li class="dropdown-item ps-lg-1 mb-2 mb-lg-0">
            <div class="form-check custom-check position-relative">
                <label class="fs-085-rem">
                    <span class="lh-lg ps-2">Alpargatas</span>
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
        <li class="dropdown-item ps-lg-1 mb-2 mb-lg-0">
            <div class="form-check custom-check position-relative">
                <label class="fs-085-rem">
                    <span class="lh-lg ps-2">Absolute Apparel</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
        <li class="dropdown-item ps-lg-1 mb-2 mb-lg-0">
            <div class="form-check custom-check position-relative">
                <label class="fs-085-rem">
                    <span class="lh-lg ps-2">ACDC</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
        <li class="dropdown-item ps-lg-1 mb-2 mb-lg-0">
            <div class="form-check custom-check position-relative">
                <label class="fs-085-rem">
                    <span class="lh-lg ps-2">Adidas</span>
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
        <li class="dropdown-item ps-lg-1 mb-2 mb-lg-0">
            <div class="form-check custom-check position-relative">
                <label class="fs-085-rem">
                    <span class="lh-lg ps-2">Alternative Apparel</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
        <li class="dropdown-item ps-lg-1 mb-2 mb-lg-0">
            <div class="form-check custom-check position-relative">
                <label class="fs-085-rem">
                    <span class="lh-lg ps-2">Anaissa</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
        <li class="dropdown-item ps-lg-1 mb-2 mb-lg-0">
            <div class="form-check custom-check position-relative">
                <label class="fs-085-rem">
                    <span class="lh-lg ps-2">Black Flamingo</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
        <li class="dropdown-item ps-lg-1 mb-2 mb-lg-0">
            <div class="form-check custom-check position-relative">
                <label class="fs-085-rem">
                    <span class="lh-lg ps-2">Blancheporte</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
        <li class="dropdown-item ps-lg-1 mb-2 mb-lg-0">
            <div class="form-check custom-check position-relative">
                <label class="fs-085-rem">
                    <span class="lh-lg ps-2">Captain América</span>
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
    </ul>

    <div class="col-12 d-flex justify-content-end pe-0 pb-2 d-lg-none">
        <span class="fs-085-rem opacity-75">Borrar Filtro</span>
    </div> 

</div>
 
 

