<div class="d-flex flex-nowrap my-2 my-lg-0">
    <button type="button" class="w-50 flex-nowrap fs-075-rem btn button-vc text-uppercase fw-light py-2 mx-2">Borrar</button>
    <button type="button" class="w-50 flex-nowrap fs-075-rem btn btn-dark text-uppercase fw-light py-2 mx-2">Aplicar</button>
</div>