<div class="row max-filters-height simplecolorpicker mb-3">
    <div class="col d-flex flex-wrap ps-lg-4 pt-lg-2">
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #FDED3F" title="AMARILLO"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #1F52E3" title="AZUL"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #C0B481" title="BEIGE"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #FFFFFF" title="BLANCO"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #EFB810" title="DORADO"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #8315C3" title="LILA"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #502C02" title="MARRÓN"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #C71585" title="MULTICOLOR"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #EE8018" title="NARANJA"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #000000" title="NEGRO"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #D2D2D2" title="PLATEADO"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #C4081D" title="ROJO"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #F663C1" title="ROSA"></label>
        </div>
        <div class="pill-rounded rounded-circle d-flex justify-content-center align-items-center me-1 mb-1">
            <label class="rounded-circle" style="background: #18A44D" title="VERDE"></label>
        </div>
       
        
    </div>
</div>