<div class="row max-filters-height simplecolorpicker mb-3">
    <div class="col count-6">
        <label class="border pill-rounded rounded-circle m-1 active" style="background: #FDED3F" title="AMARILLO"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #1F52E3" title="AZUL"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #C0B481" title="BEIGE"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #FFFFFF" title="BLANCO"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #EDE9E0" title="CRUDO"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #EFB810" title="DORADO"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #898585" title="GRIS"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #8315C3" title="LILA"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #502C02" title="MARRÓN"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #C71585" title="MULTICOLOR"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #EE8018" title="NARANJA"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #000000" title="NEGRO"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #D2D2D2" title="PLATEADO"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #C4081D" title="ROJO"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #F663C1" title="ROSA"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #F0F8FF" title="TRANSPARENTE"></label>
        <label class="border pill-rounded rounded-circle m-1" style="background: #18A44D" title="VERDE"></label>
    </div>
</div>