<section class="d-flex align-items-center" id="filters-mb">
    <button class="button-vc d-flex align-items-center py-2 px-3" data-bs-toggle="modal" data-bs-target="#filtersModal">
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M1.6662 3.9978C1.67109 3.99861 1.67524 4.00127 1.6794 4.00393C1.68444 4.00716 1.68949 4.0104 1.6959 4.0104H16.266C16.2664 4.0104 16.2669 4.01017 16.2674 4.00995C16.2678 4.00972 16.2683 4.0095 16.2687 4.0095C16.2695 4.0095 16.2703 4.00968 16.2712 4.00988C16.2723 4.01012 16.2735 4.0104 16.275 4.0104C16.6071 4.0104 16.8762 3.7269 16.8762 3.3777C16.8762 3.0285 16.6071 2.745 16.275 2.745C16.2735 2.745 16.2723 2.74527 16.2712 2.74551C16.2703 2.74571 16.2695 2.7459 16.2687 2.7459C16.2683 2.7459 16.2678 2.74567 16.2674 2.74545C16.2669 2.74522 16.2664 2.745 16.266 2.745H1.6959C1.68949 2.745 1.68444 2.74823 1.6794 2.75146C1.67524 2.75412 1.67109 2.75678 1.6662 2.7576C1.3638 2.7909 1.1253 3.051 1.1253 3.3777C1.1253 3.7044 1.3638 3.9645 1.6662 3.9978ZM16.2747 8.37036C16.2729 8.37036 16.2711 8.37125 16.2684 8.37125C16.2677 8.37125 16.2671 8.37077 16.2664 8.37051C16.2662 8.37042 16.2659 8.37036 16.2657 8.37036H1.6956C1.68936 8.37036 1.68465 8.37343 1.67984 8.37657C1.67564 8.37932 1.67136 8.38212 1.6659 8.38296C1.3635 8.41625 1.125 8.67636 1.125 9.00306C1.125 9.32976 1.3635 9.58986 1.6659 9.62316C1.67136 9.62399 1.67564 9.62679 1.67984 9.62954C1.68465 9.63268 1.68936 9.63576 1.6956 9.63576H16.2657C16.2661 9.63576 16.2666 9.63553 16.267 9.63531C16.2675 9.63508 16.268 9.63486 16.2684 9.63486C16.2699 9.63486 16.2711 9.63513 16.2722 9.63537C16.2731 9.63557 16.2739 9.63576 16.2747 9.63576C16.6068 9.63576 16.8759 9.35226 16.8759 9.00306C16.8759 8.65386 16.6068 8.37036 16.2747 8.37036ZM16.2684 13.9966C16.2711 13.9966 16.2729 13.9957 16.2747 13.9957C16.6068 13.9957 16.8759 14.2792 16.8759 14.6284C16.8759 14.9776 16.6068 15.2611 16.2747 15.2611C16.2739 15.2611 16.2731 15.2609 16.2722 15.2607C16.2711 15.2605 16.2699 15.2602 16.2684 15.2602C16.268 15.2602 16.2675 15.2604 16.267 15.2607C16.2666 15.2609 16.2661 15.2611 16.2657 15.2611H1.6956C1.68936 15.2611 1.68465 15.258 1.67984 15.2549C1.67564 15.2522 1.67136 15.2494 1.6659 15.2485C1.3635 15.2152 1.125 14.9551 1.125 14.6284C1.125 14.3017 1.3635 14.0416 1.6659 14.0083C1.67136 14.0075 1.67564 14.0047 1.67984 14.0019C1.68465 13.9988 1.68936 13.9957 1.6956 13.9957H16.2657C16.2666 13.9957 16.2675 13.9966 16.2684 13.9966Z" fill="#3C3C3B"/>
            <mask id="mask0_438_644" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="1" y="2" width="16" height="14">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.6662 3.9978C1.67109 3.99861 1.67524 4.00127 1.6794 4.00393C1.68444 4.00716 1.68949 4.0104 1.6959 4.0104H16.266C16.2664 4.0104 16.2669 4.01017 16.2674 4.00995C16.2678 4.00972 16.2683 4.0095 16.2687 4.0095C16.2695 4.0095 16.2703 4.00968 16.2712 4.00988C16.2723 4.01012 16.2735 4.0104 16.275 4.0104C16.6071 4.0104 16.8762 3.7269 16.8762 3.3777C16.8762 3.0285 16.6071 2.745 16.275 2.745C16.2735 2.745 16.2723 2.74527 16.2712 2.74551C16.2703 2.74571 16.2695 2.7459 16.2687 2.7459C16.2683 2.7459 16.2678 2.74567 16.2674 2.74545C16.2669 2.74522 16.2664 2.745 16.266 2.745H1.6959C1.68949 2.745 1.68444 2.74823 1.6794 2.75146C1.67524 2.75412 1.67109 2.75678 1.6662 2.7576C1.3638 2.7909 1.1253 3.051 1.1253 3.3777C1.1253 3.7044 1.3638 3.9645 1.6662 3.9978ZM16.2747 8.37036C16.2729 8.37036 16.2711 8.37125 16.2684 8.37125C16.2677 8.37125 16.2671 8.37077 16.2664 8.37051C16.2662 8.37042 16.2659 8.37036 16.2657 8.37036H1.6956C1.68936 8.37036 1.68465 8.37343 1.67984 8.37657C1.67564 8.37932 1.67136 8.38212 1.6659 8.38296C1.3635 8.41625 1.125 8.67636 1.125 9.00306C1.125 9.32976 1.3635 9.58986 1.6659 9.62316C1.67136 9.62399 1.67564 9.62679 1.67984 9.62954C1.68465 9.63268 1.68936 9.63576 1.6956 9.63576H16.2657C16.2661 9.63576 16.2666 9.63553 16.267 9.63531C16.2675 9.63508 16.268 9.63486 16.2684 9.63486C16.2699 9.63486 16.2711 9.63513 16.2722 9.63537C16.2731 9.63557 16.2739 9.63576 16.2747 9.63576C16.6068 9.63576 16.8759 9.35226 16.8759 9.00306C16.8759 8.65386 16.6068 8.37036 16.2747 8.37036ZM16.2684 13.9966C16.2711 13.9966 16.2729 13.9957 16.2747 13.9957C16.6068 13.9957 16.8759 14.2792 16.8759 14.6284C16.8759 14.9776 16.6068 15.2611 16.2747 15.2611C16.2739 15.2611 16.2731 15.2609 16.2722 15.2607C16.2711 15.2605 16.2699 15.2602 16.2684 15.2602C16.268 15.2602 16.2675 15.2604 16.267 15.2607C16.2666 15.2609 16.2661 15.2611 16.2657 15.2611H1.6956C1.68936 15.2611 1.68465 15.258 1.67984 15.2549C1.67564 15.2522 1.67136 15.2494 1.6659 15.2485C1.3635 15.2152 1.125 14.9551 1.125 14.6284C1.125 14.3017 1.3635 14.0416 1.6659 14.0083C1.67136 14.0075 1.67564 14.0047 1.67984 14.0019C1.68465 13.9988 1.68936 13.9957 1.6956 13.9957H16.2657C16.2666 13.9957 16.2675 13.9966 16.2684 13.9966Z" fill="white"/>
            </mask>
            <g mask="url(#mask0_438_644)"></g>
            <circle cx="5.4001" cy="3.59999" r="1.8" fill="white" stroke="#3C3C3B" stroke-width="1.2"/>
            <circle cx="13.5" cy="9.00001" r="1.8" fill="white" stroke="#3C3C3B" stroke-width="1.2"/><circle cx="8.99995" cy="14.4" r="1.8" fill="white" stroke="#3C3C3B" stroke-width="1.2"/></svg>
        <span class="fs-075-rem text-uppercase ps-2">Filtros</span>
    </button>
    <span class="fs-085-rem fw-bold venca-color ps-2">(2)</span>
</section> 
            
<!-- Modal filters -->
<section class="modal fade" id="filtersModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content"> 
            <div class="modal-header border-0 pb-2">
                <h5 class="modal-title fw-bold" id="filtersModalLabel">Filtros</h5>
                <button type="button" class="btn-close text-color opacity-75" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-4">
                <!-- Only Venca -->
                <div class="row">
                    <div class="col-12 mb-2">
                        {{> _OnlyVencaFilters}}
                    </div>
                </div>

                <!-- Filters -->
                <div class="row">
                    <div class="col-12 mb-2">                                 
                        <div class="accordion accordion-flush" id="accordionFilters">
                            
                            <!-- Product Type -->
                            <div id="productTypeFilter" class="accordion-item">
                                <div class="accordion-header" id="headingProductType">
                                    <button class="accordion-button collapsed text-color fs-085-rem fw-bold bg-white shadow-none px-0 pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#filterProductType" aria-expanded="false" aria-controls="filterProductType">Tipo de producto</button>
                                    <ul class="selectedFilters text-truncate ps-0 pe-4 mb-2">
                                        <li class="d-inline fs-075-rem fw-bold opacity-50 mt-1 mb-3 me-1">ALPARGATAS</li>
                                        <li class="d-inline fs-075-rem fw-bold opacity-50 mt-1 mb-3 me-1">BODIES</li>
                                    </ul>  
                                </div>
                                <div id="filterProductType" class="accordion-collapse collapse" aria-labelledby="headingProductType" data-bs-parent="#accordionFilters">
                                    <div class="accordion-body py-0 ps-1">
                                        {{> _ProductTypeFilters }}
                                    </div>
                                </div>
                            </div>

                            <!-- Sizes -->
                            <div id="sizeFilter" class="accordion-item">
                                <h2 class="accordion-header" id="headingSizes">
                                    <button class="accordion-button collapsed text-color fs-085-rem fw-bold bg-white shadow-none px-0" type="button" data-bs-toggle="collapse" data-bs-target="#filterSizes" aria-expanded="false" aria-controls="filterSizes">Talla</button>
                                </h2>
                                <div id="filterSizes" class="accordion-collapse collapse" aria-labelledby="headingSizes" data-bs-parent="#accordionFilters">
                                    <div class="accordion-body py-0 ps-1">
                                        {{> _SizeFilters }}
                                    </div>
                                </div>
                            </div>

                            <!-- Color -->
                            <div id="colorFilter" class="accordion-item">
                                <h2 class="accordion-header" id="headingColor">
                                    <button class="accordion-button collapsed text-color fs-085-rem fw-bold bg-white shadow-none px-0" type="button" data-bs-toggle="collapse" data-bs-target="#filterColor" aria-expanded="false" aria-controls="filterColor">Color</button>
                                </h2>
                                <div id="filterColor" class="accordion-collapse collapse" aria-labelledby="headingColor" data-bs-parent="#accordionFilters">
                                    <div class="accordion-body py-0 ps-1">
                                        {{> _ColorFilters }}
                                    </div>
                                </div>
                            </div>

                            <!-- Price -->
                            <div id="priceFilter" class="accordion-item">
                                <h2 class="accordion-header" id="headingPrice">
                                    <button class="accordion-button collapsed text-color fs-085-rem fw-bold bg-white shadow-none px-0" type="button" data-bs-toggle="collapse" data-bs-target="#filterPrice" aria-expanded="false" aria-controls="filterPrice">Precio</button>
                                </h2>
                                <div id="filterPrice" class="accordion-collapse collapse" aria-labelledby="headingPrice" data-bs-parent="#accordionFilters">
                                    <div class="accordion-body pt-0 ps-1">
                                        {{> _PriceFilters }}
                                    </div>
                                </div>
                            </div>

                            <!-- Features -->
                            <div id="featuresFilter" class="accordion-item">
                                <h2 class="accordion-header" id="headingFeatures">
                                    <button class="accordion-button collapsed text-color fs-085-rem fw-bold bg-white shadow-none px-0" type="button" data-bs-toggle="collapse" data-bs-target="#filterFeatures" aria-expanded="false" aria-controls="filterFeatures">Características</button>
                                </h2>
                                <div id="filterFeatures" class="accordion-collapse collapse" aria-labelledby="headingFeatures" data-bs-parent="#accordionFilters">
                                    <div class="accordion-body pt-0 ps-1">
                                        {{> _FeaturesFilter }}
                                    </div>
                                </div>
                            </div>

                            <!-- Brands -->
                            <div id="brandsFilter" class="accordion-item">
                                <h2 class="accordion-header" id="headingBrands">
                                    <button class="accordion-button collapsed text-color fs-085-rem fw-bold bg-white shadow-none px-0" type="button" data-bs-toggle="collapse" data-bs-target="#filterBrands" aria-expanded="false" aria-controls="filterBrands">Marcas</button>
                                </h2>
                                <div id="filterBrands" class="accordion-collapse collapse" aria-labelledby="headingBrands" data-bs-parent="#accordionFilters">
                                    <div class="accordion-body pt-0 ps-1">
                                        {{> _BrandsFilter }}
                                    </div>
                                </div>
                            </div>

                            <!-- Sort -->
                            <div id="sortFilter" class="accordion-item">
                                <h2 class="accordion-header" id="headingSort">
                                    <button class="accordion-button collapsed text-color fs-085-rem fw-bold bg-white shadow-none px-0" type="button" data-bs-toggle="collapse" data-bs-target="#filterSort" aria-expanded="false" aria-controls="filterBrands">Ordenar</button>
                                </h2>
                                <div id="filterSort" class="accordion-collapse collapse" aria-labelledby="headingSort" data-bs-parent="#accordionFilters">
                                    <div class="accordion-body pt-0 ps-0">
                                        {{> _SortBy }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Footer Buttons -->
            {{> _ClearApply }}
        </div>
    </div>
</section>