<section id="filters-dk" class="d-flex align-items-center">
    
    <!-- Type of Product -->
    <article class="filter-product-type dropdown">
        <a href="#" class="dropdown-toggle fs-075-rem d-block button-vc text-uppercase text-decoration-none py-2 px-lg-2 me-2" role="button" id="dropdownFilterProductType" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Tipo de producto</a>
        <div class="dropdown-menu" aria-labelledby="dropdownFilterProductType">                             
            {{> _ProductTypeFilters }}
            {{> _ClearApply }}                              
        </div>                            
    </article>

    <!-- Sizes -->
    <article id="sizeFilter" class="filter-size dropdown">
        <a href="#" class="dropdown-toggle fs-075-rem d-block button-vc text-uppercase text-decoration-none py-2 px-lg-2 me-2" role="button" id="dropdownFilterSize" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Talla</a>
        <div class="dropdown-menu p-3" aria-labelledby="dropdownFilterSize">
            {{> _SizeFilters }}
            {{> _ClearApply }}
        </div>
    </article>

    <!-- Color -->
    <article id="colorFilter" class="filter-color dropdown">
        <a href="#" class="dropdown-toggle fs-075-rem d-block button-vc text-uppercase text-decoration-none py-2 px-lg-2 me-2" role="button" id="dropdownFilterColor" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Color</a>
        <div class="dropdown-menu p-3" aria-labelledby="dropdownFilterColor">
            {{> _ColorFilters }}
            {{> _ClearApply }}
        </div>
    </article>

    <!-- Price -->
    <article id="priceFilter" class="filter-price dropdown">
        <a href="#" class="dropdown-toggle fs-075-rem d-block button-vc text-uppercase text-decoration-none py-2 px-lg-2 me-2" role="button" id="dropdownFilterPrice" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Precio</a>
        <div class="dropdown-menu filter-price-width p-3" aria-labelledby="dropdownFilterPrice">
            {{> _PriceFilters }}
            {{> _ClearApply }}
        </div>
    </article>

    <!-- Features -->
    <article id="featuresFilter" class="filter-features dropdown">
        <a href="#" class="dropdown-toggle fs-075-rem d-block button-vc text-uppercase text-decoration-none py-2 px-lg-2 me-2" role="button" id="dropdownFilterFeatures" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Características</a>
        <div class="dropdown-menu p-3" aria-labelledby="dropdownFilterFeatures">
            {{> _FeaturesFilter }}
            {{> _ClearApply }}
        </div>
    </article>

    <!-- Brands -->
    <article id="brandsFilter" class="filter-brands dropdown">
        <a href="#" class="dropdown-toggle fs-075-rem d-block button-vc text-uppercase text-decoration-none py-2 px-lg-2 me-2" role="button" id="dropdownFilterBrands" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">Marcas</a>
        <div class="dropdown-menu p-3" aria-labelledby="dropdownFilterBrands">
            {{> _BrandsFilter }}
            {{> _ClearApply }}
        </div>
    </article>

    <!-- Only Venca -->
    <article class="only-venca-filter">
        {{> _OnlyVencaFilters}}
    </article>
</section>