<div class="form-check custom-check position-relative ms-lg-3">
    <label class="fs-085-rem ps-2">Solo vendidos por venca
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
</div>
