<div class="row">
    <span class="col-12 titleType d-block fs-085-rem font-weight-light mb-2">MODA</span>
    <span class="col-12 subtitleType d-block fs-085-rem font-weight-light mb-2 notranslate">EU</span>
</div>                           
<div class="row max-filters-height mb-3">
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">UNICA</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">XXS</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">XS</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">XS/S</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">S</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">S/M</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">M</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">M/L</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">L</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">L/XL</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate active"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">XL</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">XL/XXL</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">XXL</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">3XL</label>
    <label class="col-2 col-lg-3 pill-rounded d-flex justify-content-center align-items-center border border-dark rounded-circle fs-07-rem sizeButton m-1 notranslate"  data-filter="Sizes" data-normalized="moda_eu_unica_blank">4XL</label>
</div>