@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2');
}

.fs-06-rem {
    font-size: .6rem;
}
.fs-07-rem {
    font-size: .7rem;
}
.fs-075-rem {
    font-size: .75rem;
}
.fs-085-rem {
    font-size: .875rem;
}


